@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.all{
    list-style-type: none;
    font-family:'League Spartan', sans-serif;
    background-color: #FFFFFF;
}

.titleAndfiltersContainer{
    background: linear-gradient(to bottom,#DAB88B 0%,#DAB88B 50%,#FFFFFF 100%); 
}

.siteTitle {
    display: flex;
    justify-content: center;
    font-size: 7.5rem;
    font-weight: 700;
    text-align: center;
    color: #2C2C2C;
    letter-spacing: 0.625rem;
    padding: 5rem 0 5rem 0;
    margin-bottom: 1.25rem;
     
}

.aligner{
    width:80%;
    display:flex;
    justify-content:center;
    margin: 0 10% 0.625rem 10%;
}

.shadowDiv{
    width:60%;
}

.filters{
    width:40%;
    
    display: flex;
    
    
    gap: 1.5rem; 
    
}

.individualFilter1{
    width:50%;
    
    display: flex;
    flex-direction: column;

    font-weight:500;
    font-size: 1.25rem;

    
}

.individualFilter2{
    width:50%;
    

    display: flex;
    flex-direction: column;

    font-weight:500;
    font-size: 1.25rem;
    
}

.filterSelect {
    height:3rem;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: white;
    border: 0.125rem solid #DAB88B; 
    margin-top:0.5rem;
    font-size: 1.25rem;
    font-family: inherit; 
    cursor: pointer;
    
}
   

.card {
    width:80%;
    height:20rem;

    display: flex;
    flex-direction:column;

    background-color: #FFFFFF;

    
    padding: 1rem;
    margin: 0 10%;
}

.displayCard{
    display:flex;
    flex-direction:row;

    gap:1.5rem;
}

.image {
    width: auto;
    height: 18.75rem;
    object-fit: cover;
}

.workshopInformation{
    width:60%;
    display:flex;
    flex-direction: column;
    

}

.workshopTitle {
    font-size: 2.5rem;
    font-weight:700;
    letter-spacing: 0.625rem;
}

.company{
    font-size:1.5rem;
    font-weight: 600;
    text-align:left;
    margin:0.5rem 0 1rem 0;
}
.detailsWrapper{
    display:flex;
    flex-direction:row;

    height:60%;
}
.description{
    width:60%;
    font-family:'Inter', sans-serif;
    font-size:1.25rem;
    font-weight:400;
    line-height:1.625rem;
}

.details {
    width: 80%;
    list-style: none;
   
}
  
.detailsLi{
    list-style:none;
    padding: 0.5rem;
}

.detailsLinkButton{
    width:80%;
    border: 0.125rem solid #DAB88B;
    border-radius: 10rem;
    color: #000000;
    background-color: #DAB88B;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
    
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.detailsLinkButton:hover {
    background-color: #FFFFFF;
}

.workshopLink{
    text-align:center;
    font-size: 1rem;
    font-weight:400;
    color: #000000;
    text-decoration:none;
}

.separator{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 10%;
    height: 1rem;
    background-color: #DAB88B;
    
}   

.pagingDown{
    display:flex;
    justify-content:center;
    background-color:inherit;
    gap: 1rem;
    margin-bottom: 2rem;
}

.pageButtonNextAndPrevious2 {
    border: none;
    background-color:inherit;
    font-size: 1rem;
    color: #2C2C2C;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.pageButtonNextAndPrevious2:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pageButton {
    border: none;
    border-radius: 0.625rem;
    padding: 0.5rem 0.625rem;
    font-size: 1rem;
    color: #2C2C2C;
    background-color:inherit;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
  
.pageButton:hover {
    background-color: #DAB88B;
    color: white;
}


.activePage{
    border:0.125rem solid #DAB88B;
    border-radius: 0.625rem;
    padding: 0.5rem 0.625rem;
    font-size: 1rem;
    color: #FFFFFF;
    background-color:#DAB88B;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

