@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
.all{
    list-style-type: none;
    font-family:'League Spartan', sans-serif;
    background-color: #FFFFFF;
}

.titleAndfiltersContainer{
    background: linear-gradient(to bottom,#DAB88B 0%,#FFFFFF 100%); 
}

.siteTitle {
    
    font-size: 7.5rem;
    /*margin-top: 14.125rem;*/
    margin-bottom: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #2C2C2C;
    letter-spacing: 0.625rem;
     
}
.pagingAndfilters{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;

    padding: 0 0 0 0
    
}

.paging{
    display: flex;
    width:40%;
    align-items: center;
    gap: 1rem;
}

.pageButton {
    border: 2px solid #d4a374;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #2C2C2C;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.pageButtonnext {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #2C2C2C;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
  
.pageButton:hover {
    background-color: #d4a374;
    color: white;
}
  
.pageButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.filters{
    display: flex;
    justify-content: center;
    gap: 1rem; 
    
}

.individualFilter1{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width:55%;
}

.individualFilter2{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width:45%;
}

.filterSelect {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: white;
    border: 1px solid #d4a374; 
    padding: 0.5rem 1rem; 
    margin: 0.25rem;
    font-size: 1.5rem;
    font-family: inherit; 
    color: #333; 
    outline: none; 
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
   
.filterSelect:focus {
    border-color: #a67c52; 
}


.filterSelect::after {
    content: '▼'; 
    position: absolute;
    right: 1rem;
    pointer-events: none;
}
  
.filterSelect option {
    font-size: 1rem; 
    background-color: white;
    color: #333;
    padding: 0.5rem;
    border-radius: 1.25rem; 
}


.filterSelect option:hover {
    background-color: #f0f0f0;
    color: #000;
}

.workshopsListContainer{
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    gap: 1.875rem;
    padding: 1.25rem;
    background-color: lightgrey;
    border-radius: 1.625rem;
    margin: 0 10% 0.625rem 10%;
}

.image {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
}

.workshopTitle {
    font-size: 2.5rem;
    letter-spacing: 0.625rem;
}

.company{
    font-size:1.625rem;
    font-weight: 600;
    text-align:left;
}


.workshopLink{
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.description{
    
}

.details {
    list-style: none;
    padding: 0.625rem 0 0.625rem 0; /*example values for padding*/
    margin-top: 1.25rem;
}
  
.detailsLi{
    list-style:none;
    padding: 0.5rem;
}

.detailsLinkButton{

}

.detailsLinkText{
    
}
.paginDown{
    align-items: center;
    gap: 1rem;
}