@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
.all{
    list-style-type: none;
    font-family:'League Spartan', sans-serif;
    background-color: #FFFFFF;
}

.titleAndfiltersContainer{
    background: linear-gradient(to bottom,#DAB88B 0%,#DAB88B 50%,#FFFFFF 100%); 
}

.siteTitle {
    display: flex;
    justify-content: center;
    font-size: 7.5rem;
    font-weight: 700;
    text-align: center;
    color: #2C2C2C;
    letter-spacing: 0.625rem;
    padding: 5rem 0 5rem 0;
    margin-bottom: 1.25rem;
     
}
.pagingAndfilters{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;

    padding: 0 0 2rem 0
    
}

.paging{
    display: flex;
    width:40%;
    align-items: center;
    gap: 1rem;
}

.pageButton {
    border: 0.125rem solid #DAB88B;
    border-radius: 0.625rem;
    padding: 0.5rem 0.625rem;
    font-size: 1rem;
    color: #2C2C2C;
    background-color:inherit;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.pageButtonNextAndPrevious1 {
    border: none;
    font-size: 1rem;
    color: #2C2C2C;
    background-color:inherit;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
  
.pageButton:hover {
    background-color: #DAB88B;
    color: white;
}
  
.pageButtonNextAndPrevious1:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.filters{
    display: flex;
    justify-content: center;
    gap: 1rem; 
    
}

.individualFilter1{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width:55%;
}

.individualFilter2{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width:45%;
}

.filterSelect {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: white;
    border: 0.125rem solid #DAB88B; 
    padding: 0.5rem 1rem; 
    margin: 0.25rem;
    font-size: 1.5rem;
    font-family: inherit; 
    color: #333; 
    outline: none; 
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
   
.filterSelect:focus {
    border-color: #a67c52; 
}


.filterSelect::after {
    content: '>'; 
    position: absolute;
    right: 1rem;
    pointer-events: none;
}
  
.filterSelect option {
    font-size: 1rem; 
    background-color: white;
    color: #333;
    padding: 0.5rem;
    border-radius: 1.25rem; 
}


.filterSelect option:hover {
    background-color: #f0f0f0;
    color: #000;
}

.workshopsListContainer{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 1.25rem;
}

.card {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #FFFFFF;
    margin: 0 10% 0.625rem 10%;
}

.image {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
}

.workshopInformation{
    width:60%;
    display:flex;
    flex-direction: column;
}

.workshopTitle {
    font-size: 2.5rem;
    font-weight:700;
    letter-spacing: 0.625rem;
}

.company{
    font-size:1.5rem;
    font-weight: 600;
    text-align:left;
    margin:0.5rem 0 1rem 0;
}

.description{
    font-size:1.25rem;
    font-weight:400;
    line-height:1.625rem;
}

.details {
    width: 100%;
    list-style: none;
    padding: 0.625rem 0 0.625rem 0; /*example values for padding*/
    margin-top: 1.25rem;
}
  
.detailsLi{
    list-style:none;
    padding: 0.5rem;
}

.detailsLinkButton{
    
    border: 0.125rem solid #d4a374;
    border-radius: 10rem;
    color: #000000;
    background-color: #DAB88B;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.detailsLinkButtonText{
    text-align:center;
    font-size: 1rem;
    font-weight:400;
    color: #000000;
}

.detailsLinkButton:hover {
    background-color: #d4a374;
    color: white;
}

.workshopLink{
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.separator{
    
}

.pagingDown{
    display:flex;
    justify-content:center;
    background-color:inherit;
    gap: 1rem;
    margin-bottom: 2rem;
}

.pageButtonNextAndPrevious2 {
    border: none;
    background-color:inherit;
    font-size: 1rem;
    color: #2C2C2C;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.pageButtonNextAndPrevious2:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}