@import url("/src/style/variables.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom, var(--color-primary-medium) 10%, var(--color-primary-medium) 15%, #ffffff 40%);
}
.workshopContainer {
    width: 80rem;
    margin: 0 auto;
}

.workshopWrapper {
    width: 38rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}
.workshopSectionWrapper {
    display: flex;
    position: relative;
}
.workshopInfo {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    list-style: none;
}
.icons {
    translate: -5px;
    font-size: 1.1rem;
}
.infoGrey {
    display: flex;
    align-items: center;
    color: var(--color-neutral-medium-dark);
    padding-right: 0.5rem;
}
.companyPicture {
    width: 324px;
    height: 324px;
    background-color: #ddd;
    margin-bottom: 1rem;
}
.workshopDescribtionWrap {
    position: relative;
}
.companyName {
    font-weight: var(--font-weight-medium);
}
.description {
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-paragraph-l);
    color: var(--color-base-black);
}
h4 {
    font-family: var(--font-family-spartan);
    font-size: var(--font-heading-l-m-s);
    margin-bottom: 1rem;
}
h1 {
    font-family: var(--font-family-spartan);
    font-size: var(--font-heading-xl);
    letter-spacing: 3%;
    margin: 2rem 0;
}
h2 {
    font-family: var(--font-family-spartan);
    font-size: var(--font-heading-l-m-s);
    letter-spacing: 12%;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.skillHeading {
    font-family: var(--font-family-inter);
    font-size: var(--font-paragraph-xl);
    font-weight: 600;
}
.skillsWrap {
    margin: 2rem 0;
}
.skillList {
    display: flex;
    justify-content: space-between;
}
.workshopSkill {
    border: 3px solid var(--color-primary-medium);
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: var(--font-paragraph-s);
    font-family: var(--font-family-spartan);
}
.workshopSignUp {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -10%;
    right: 0;
}
.signUpBtn {
    border: none;
    border-radius: 1.875rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primary-medium);
    padding: 1rem 4rem;
    font-size: var( --font-paragraph-xl);
    font-weight: 400;
    font-family: var(--font-family-spartan);
}
.registrationDate {
    
    text-align: center;
    margin-top: 5px;
    color: var(--color-neutral-medium-dark);
    font-size: 0.875rem;
    font-family: var(--font-family-inter);
}
.underline {
    position: absolute;
    bottom: -15%;
    left: 50%;
    translate: -50% 0;
    width: 10rem;
    height: 4px;
    border-radius: 0.5rem;
    background-color: #d9b988;
}
.otherWorkshopsWrap {
    margin-top: 10rem;
}
